<div class="row">

    <div class="col-md-12">
        <hr>
        <span><b>pixel_data_engine_maps</b></span><br><br>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="btn btn-lg btn-success" href="geo/edit-geo/mapname=0&action=create"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new geo map</a>
            </div>
        </nav>
        <hr>

        <table class="table table-striped table-bordered">
            <thead>
            <th>Map Name&nbsp;</th>
            <th>Description&nbsp;</th>
            <th>Edit&nbsp;</th>
            <th>Contents&nbsp;</th>
            <th>Append&nbsp;</th>
            <th>Override&nbsp;</th>
            <th>Export&nbsp;</th>
            </thead>
            <tbody>
            <tr ng-repeat="data in frontendData">
                <td>{{data.map_name}}</td>
                <td>{{data.description}}</td>
                <td><a href="geo/edit-geo/mapname={{data.map_name}}&action=edit" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Map</a></td>
                <td><a href="geo/get-pde-map/tableName={{data.map_name}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Show Contents</a></td>
                <td>
                    <a href="geo/edit-geo/mapname={{data.map_name}}&action=append" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Append the Table</a>
                </td>
                <td>
                    <a href="geo/edit-geo/mapname={{data.map_name}}&action=override" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Override the Table</a>
                </td>
                <td>
                    <a href="geo/edit-geo/mapname={{data.map_name}}&action=export" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Export the Table</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="rules.length == 0">
        <div class="col-md-12">
            <h4>No geo map found</h4>
        </div>
    </div>
</div>


<!--






<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div>
    <form role="form" name="myForm" class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <div class="form-group">
                    <label class="col-md-2"> Append the Table </label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <td>
                            <select class="form-control" ng-model="frontendData.append.tableName">
                                <option disabled selected value> &#45;&#45; select an option &#45;&#45;</option>
                                <option value="city">city</option>
                            </select>
                        </td>
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" file-model="myFile"/>
                    <button ng-click="appendTable()">Append the Table</button>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label class="col-md-2"> Override the Table </label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <td>
                            <select class="form-control" ng-model="frontendData.override.tableName">
                                <option disabled selected value> &#45;&#45; select an option &#45;&#45;</option>
                                <option value="city">city</option>
                            </select>
                        </td>
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" file-model="myFile"/>
                    <button ng-click="overrideTable()">Override the Table</button>
                </div>
            </div>

            &lt;!&ndash;

              <div class="form-group">
                  <label class="col-md-2"> Override the Table </label>

                  <div class="col-md-2">
                      <td>
                          <select class="form-control" ng-model="frontendData.override.tableName">
                              <option disabled selected value> &#45;&#45; select an option &#45;&#45;</option>
                              <option value="city">city</option>
                          </select>
                      </td>
                  </div>

                  <input type="file" file-model="myFile"/>
                  <button ng-click="overrideTable()">Override the Table</button>
              </div>&ndash;&gt;
        </div>

    </form>
</div>
-->
