<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<form role="form" name="myForm" class="form-horizontal">
    <div class="view">
        <div class="container">
            <div class="row">
                <header>
                    <h3>{{title}}</h3>
                </header>
                <div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Group ID </label>
                        <div class="col-md-2">
                            <input type="text" ng-disabled="groupIdInputDisable" class="form-control" ng-model="frontendData.gid">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Key ID </label>
                        <div class="col-md-2">
                            <input type="text" ng-disabled="keyIdDisable" class="form-control" ng-model="frontendData.keyId">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Priority </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.priority">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Type </label>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="frontendData.type">
                                <option value="transform">transform</option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Parse Rule </label>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="frontendData.parseRule">
                                <option value="orig">orig</option>
                                <option value="split1">split1</option>
                                <option value="split2">split2</option>
                            </select>


                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.parseRule=='split1'">
                        <label class="col-md-2"> Split String </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.split1.column1">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.parseRule=='split2'">
                        <label class="col-md-2"> Level 1 </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.split2.column1">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.parseRule=='split2'">
                        <label class="col-md-2"> Level 2 </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.split2.column2">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Condition Rule </label>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="frontendData.conditionRule">
                                <option value="len">len</option>
                                <option value="always">always</option>
                                <option value="range">range</option>
                                <option value="in">in</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.conditionRule=='len'">
                        <label class="col-md-2"> String Length </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.len.column1">
                        </div>

                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.conditionRule=='range'">
                        <label class="col-md-2"> Range From </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.range.column1">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.conditionRule=='range'">
                        <label class="col-md-2"> Range To </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.range.column2">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.conditionRule=='in'" ng:repeat="element in frontendData.inElementArray">
                        <label class="col-md-2"> element_{{element.column1}}: </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="element.column2">
                        </div>
                    </div>

                    <div class="form-group" ng-show="frontendData.conditionRule=='in'">
                        <label class="col-md-2"></label>
                        <div class="col-md-2">
                            <button type="button" ng-click="addInElement()">+</button>
                            <button type="button" ng-click="removeInElement()">-</button>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                        <label class="col-md-2"> Action Rule </label>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="frontendData.actionRule">
                                <option value="substr">substr</option>
                                <option value="set">set</option>
                                <option value="dec">dec</option>
                                <option value="ignore">ignore</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.actionRule=='substr'">
                        <label class="col-md-2"> Direction </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.substr.column1">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.actionRule=='substr'">
                        <label class="col-md-2"> Start Index </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.substr.column2">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.actionRule=='substr'">
                        <label class="col-md-2"> Length </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.substr.column3">
                        </div>
                    </div>


                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.actionRule=='set'" ng:repeat="set in frontendData.setRuleArray">
                        <label class="col-md-2"> set_{{set.column1}}: </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="set.column2">
                        </div>
                    </div>

                    <div class="form-group" ng-show="frontendData.actionRule=='set'">
                        <label class="col-md-2"></label>
                        <div class="col-md-2">
                            <button type="button" ng-click="addSetRule()">+</button>
                            <button type="button" ng-click="removeSetRule()">-</button>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: myForm.name.$invalid}" ng-show="frontendData.actionRule=='dec'">
                        <label class="col-md-2"> Number of Decimals </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="frontendData.dec.column1">
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-2"></label>
                <div class="col-md-4">
                    <a href="pixel-data-engine-rule" class="btn">Cancel</a>
                    <button ng-click="saveRule(frontendData);"
                            ng-disabled="isClean() || myForm.$invalid"
                            class="btn btn-primary">{{buttonText}}
                    </button>
                    <button ng-click="deleteRule(frontendData)"
                            ng-show="isUpdate" class="btn btn-warning">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>