<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="view">
    <div class="container">
        <div class="row">
            <header>
                <h3>{{title}}</h3>
            </header>


            <div>
                <table>
                    <tr>
                        <td>gid:</td>
                        <td>
                            <input type="text" ng-model="frontendData.gid">
                        </td>
                    </tr>
                </table>

                <hr>

                <table>
                    <tr>
                        <td>key_id:</td>
                        <td>
                            <input type="text" ng-model="frontendData.keyId">
                        </td>
                    </tr>
                </table>

                <hr>

                <table>
                    <tr>
                        <td>priority:</td>
                        <td>
                            <input type="text" ng-model="frontendData.priority">
                        </td>
                    </tr>
                </table>

                <hr>

                <tr>
                    <td>type:</td>
                    <td>
                        <select ng-model="frontendData.type">
                            <option value="transform">transform</option>
                        </select>
                    </td>
                </tr>

                <!--<table>-->
                <!--<tr>-->
                <!--<td>type:</td>-->
                <!--<td>-->
                <!--<input type="text" ng-model="frontendData.type">-->
                <!--</td>-->
                <!--</tr>-->
                <!--</table>-->

                <hr>

                <table>
                    <tr>
                        <td>parse_rule:</td>
                        <td>
                            <select ng-model="frontendData.parseRule">
                                <option value="orig">orig</option>
                                <option value="split1">split1</option>
                                <option value="split2">split2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <table ng-show="frontendData.parseRule=='split1'">
                            <td>split string:</td>
                            <td>
                                <input type="text" ng-model="frontendData.split1.column1">
                            </td>
                        </table>
                        <table ng-show="frontendData.parseRule=='split2'">
                            <tr>
                                <td>level 1 split string:</td>
                                <td>
                                    <input type="text" ng-model="frontendData.split2.column1">
                                </td>
                            </tr>
                            <tr>
                                <td>level 2 split string:</td>
                                <td>
                                    <input type="text" ng-model="frontendData.split2.column2">
                                </td>
                            </tr>
                        </table>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <td>condition_rule:</td>
                        <td>
                            <select ng-model="frontendData.conditionRule">
                                <option value="len">len</option>
                                <option value="always">always</option>
                                <option value="range">range</option>
                                <option value="in">in</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <table ng-show="frontendData.conditionRule=='len'">
                            <td>string length:</td>
                            <td>
                                <input type="text" ng-model="frontendData.len.column1">
                            </td>
                        </table>
                        <table ng-show="frontendData.conditionRule=='range'">
                            <tr>
                                <td>range from:</td>
                                <td>
                                    <input type="text" ng-model="frontendData.range.column1">
                                </td>
                            </tr>
                            <tr>
                                <td>range to:</td>
                                <td>
                                    <input type="text" ng-model="frontendData.range.column2">
                                </td>
                            </tr>
                        </table>
                        <table ng-show="frontendData.conditionRule=='in'">
                            <tr ng:repeat="element in frontendData.inElementArray">
                                <td>element_{{element.column1}}:</td>
                                <td><input type="text" ng-model="element.column2"></td>
                            </tr>
                            <td>
                            <td>
                                <button type="button" ng-click="addInElement()">+</button>
                            </td>
                            <td>
                                <button type="button" ng-click="removeInElement()">-</button>
                            </td>
                            </td>
                        </table>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <td>action_rule:</td>
                        <td>
                            <select ng-model="frontendData.actionRule">
                                <option value="substr">substr</option>
                                <option value="set">set</option>
                                <option value="dec">dec</option>
                                <option value="ignore">ignore</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <div>
                            <table ng-show="frontendData.actionRule=='substr'">
                                <tr>
                                    <td>direction:</td>
                                    <td>
                                        <input type="text" ng-model="frontendData.substr.column1">
                                    </td>
                                </tr>
                                <tr>
                                    <td>start index:</td>
                                    <td>
                                        <input type="text" ng-model="frontendData.substr.column2">
                                    </td>
                                </tr>
                                <tr>
                                    <td>length:</td>
                                    <td>
                                        <input type="text" ng-model="frontendData.substr.column3">
                                    </td>
                                </tr>
                            </table>
                            <table ng-show="frontendData.actionRule=='set'">
                                <tr ng:repeat="set in frontendData.setRuleArray">
                                    <td>set_{{set.column1}}:</td>
                                    <td><input type="text" ng-model="set.column2"></td>
                                </tr>
                                <td>
                                <td>
                                    <button type="button" ng-click="addSetRule()">+</button>
                                </td>
                                <td>
                                    <button type="button" ng-click="removeSetRule()">-</button>
                                </td>
                                </td>
                            </table>
                            <table ng-show="frontendData.actionRule=='dec'">
                                <td>number of decimals:</td>
                                <td>
                                    <input type="text" ng-model="frontendData.dec.column1">
                                </td>
                            </table>
                        </div>
                    </tr>
                </table>
                <hr>

                <div class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-4">
                        <a href="pixel-data-engine-rule" class="btn">Cancel</a>
                        <button ng-click="saveRule(frontendData);"
                                ng-disabled="isClean() || myForm.$invalid"
                                class="btn btn-primary">{{buttonText}}
                        </button>
                        <button ng-click="deleteRule(frontendData)"
                                ng-show="isUpdate" class="btn btn-warning">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
